<a href="https://colab.research.google.com/github/TreeDa93/AlgoritmizationCourse/blob/main/Lab2_algoritmization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа № 2. Работа с основными типами переменных Python.

Цель работы - ознакомиться с особенностями работы со основными встроенными типами переменных Python.

Задачи:

Задача 1. Ознакомиться с основными типами данных (переменных) и понять принцип их классификации. 

Задача 2. Приобрести первичные навыки реализации переменных чисел (int, float, complex) и изучить основные функции для манипуляций над этими переменными.

Задача 3. Усвоить назначение типа переменной строка (str) и понять принципы работы с данной переменой. Изучить основные операции над строкой. 

Задача 4. Изучить назначение переменных типа список. Произвести ряд встроенных операций над ними и сделать выводы о различии кортежа и списка. 

Задача 5. Понять назначение переменных типа словарь и изучить основные операции над ним.

Типы данных в Python можно разделить на 
1. `None` - неопределенное значение
2. Логические переменны (Boolean Type) 
3. Числа 
    1. `int` - целое число
    2. `float` - число с плавающей точкой
    3. `complex` - комплексное число
4. Списки
    1. `list` - список
    2. `tuple` - кортеж
    3. `range` - диапозон
5. Строки `str` - запись текста
6. Словари `dict` 
И ряд других, например бинарные списки (bytes, bytearray, memoryview), множества (set, frozenset), но это не входит в изучение нашего курса.

Проверка типа переменной можно осуществить с помощью функции `type(имя_переменной)`

Стоит выделить также что переменные в Python могут быть изменяемыми и неизменяемыми. Это обозначет, что созданная переменная не может изменться после ее создания. 
Неизменяемые перменные: целые числа (int),  числа с плавающей точкой (float), комплексные числа (complex), логические переменные (bool), кортежи (tuple), строки (str) и неизменяемые множества (frozen set).
Изменяемые перменные: списки (list), множества (set), словари (dict).

# Работа с целыми, дробными и комплексными числами
Цело число в Python имеет тип int (integer). Под целыми числами понимаются положительных, отрицательных множество чисел и ноль не имеющие дробную часть.
По-умолчанию любое цело число инициализируется как тип `int`. Например, 

```
a = 5
type(a)
```

Вывод:

In [ ]:
a = 5
type(a)

int

Если вызвать функцию `int()` без аргумента, эта функция вернет 0

In [ ]:
int()

0

Числа с плавающей точкой или другими словами вещественные числа.  
Инициализация данной переменой можно осуществить следующим образом

In [ ]:
a = 1.0 
print('a is ', type(a))
b = 23.3333
print('b is ', type(b))
c = float(5)
print('c is ', type(c))

a is  <class 'float'>
b is  <class 'float'>
c is  <class 'float'>

Важным в математических и инженерных расчетах являются комплексные числа. Их инициализация производится с помощью функции `complex(real part, image part)` или использование символа мнимой единицы `1j`.

In [ ]:
z1 = complex(1, 2)
print('value of z1 is', 'type is', type(z1))
z2 = 1+ 1j*2
print('value of z2 is', 'type is', type(z2))

value of z1 is type is <class 'complex'>
value of z2 is type is <class 'complex'>

# Основные операции над переменными чисел

Если у переменнрй с типом float поменять тип на int, тогда число будет округлено в сторону нуля. Если переменную float конвертировать в тип complex, тогда мнимая часть будет равна нулю. 
```
d = 15.78
print(int(d))
print(complex(d))
```

In [ ]:
d = 15.78
print(int(d))
print(complex(d))

15
(15.78+0j)

**Функции для типа int**

`abs(int_number)` - вывести модуль целового числа.

**Функции для типа float**

`abs(float_number)` - вывести модуль вещественного числа.

Функция `round(float_number)` - округляет число в меньшую сторону. 

**Функции для типа complex**

`abs(float_number)` - вывести модуль комплексного числа.

`float_number.imag` - вывести реальную часть

`float_number.real` - вывести мнимую часть

`float_number.conjugate` - вывести сопряженное число

In [ ]:
int_number = -15
print('Модуль числа', abs(int_number))

float_number = -15.0
print(type(round(float_number)), round(float_number))
print("Модуль вещественного числа", abs(float_number))

complex_number = complex(-15, -15)

print(float_number.imag)
print(float_number.real)
print(float_number.conjugate())
print('Модуль комплексного числа', abs(complex_number))

Модуль числа 15
<class 'int'> -15
Модуль вещественного числа 15.0
0.0
-15.0
<built-in method conjugate of float object at 0x7f2896c5bd70>
Модуль комплексного числа 21.213203435596427

Произвести просты операции с числами

In [ ]:
d1 = 15
d2 = 2
result = d1/ d2
print('It is result', result, 'with type', type(result))

result+=complex(1, 1)
print('It is result', result, 'with type', type(result))

result_real = result.real
result_imag = result.imag
result_conjugate = result.conjugate()
print('It is real part', result_real, 'with type', type(result_real))
print('It is real part', result_imag, 'with type', type(result_imag))
print('It is conjugate', result_conjugate, 'with type', type(result_conjugate))

It is result 7.5 with type <class 'float'>
It is result (8.5+1j) with type <class 'complex'>
It is real part 8.5 with type <class 'float'>
It is real part 1.0 with type <class 'float'>
It is conjugate (8.5-1j) with type <class 'complex'>

# Работа со строками. Тип str. 

Тип строки переменной в Python подрозумевает под собой текстовые данные. Один из самых популярных программ в Pytho - это вовод строки Hello world.

In [ ]:
print('Hello world')

Hello world

Инициализация переменной типа str осуществляется с помощью двух паострофов или кавычек. Между этими методами разницы нет. 
Приведем, примеры

In [ ]:
test_text1 = 'Hello world'
print(test_text1)
test_text2 = "Hello world"
print(test_text2)

Hello world
Hello world

Основные функции доступные для обработки переменных строки


*   Оператор `+` присоединяет одну строку к другой
*   Оператор `*` дублирует строку n раз. 
*   Функция len(string) -  возвращает колиество символов в строке

In [ ]:
string1 = 'hello'
string2 = 'bye bye'

print(string1+string2)
print(string1*3)
print(len(string1))

hellobye bye
hellohellohello
5

Интересной функцией является вовод символов по порядковому номеру. Для этого после названия переменной в квадратных скобках необходимо указать номер символа. Символ `:` указывает, что вывести все символы.

In [ ]:
print(string1[:]+string2[3:])

hello bye

Часто всречаются многострочные тексты. Для реализации такой переменной с текстом в Python необходимо использовать экранированные операторы. 

*   \n первеод на новую строку
*   \t горизонтальная табуляция
*   \v вертикальная табуляция

Удобно также использовать тройные кавычки или апострафы для рабоыт смногострочным текстом.

In [ ]:
string3 = '\t Hello world \n and buy world, \n \t but we are here'
print(string3)

string4 = '''Hello world 
we are here but 
we are goin to leave'''
print(string4)

	 Hello world
 and buy world,
 	 but we are here
Hello world
we are here but
we are goin to leave

#Работа со списками 
Списки в Python (list) - упорядоченные изменяемые коллекции объектов произвольных типов (почти как массив, но типы могут отличаться).
Создать переменную списка можно с помощью квадртаных скобок или функции list().

In [ ]:
new_list = [1, 2, 3, 'heello', 23*1j]
print(new_list, type(new_list))

new_list_2 = list('hello wolrd')
print(new_list_2)

[1, 2, 3, 'heello', 23j] <class 'list'>
['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'l', 'r', 'd']

Основыне функции работы со списками 

`list.append(x)` - добавить элемент x в конец списка list

`list.extend(L)` - расширить list списком L

l`ist.insert(i, x)` - вставить x на i место в списке list

`list.remove(x)` - удалить первый элемент со значением x в списке list

`list.pop([i])` - удалить i  элемент

`list.reverse()` - сделать обратную последовательность списка

`list.clear()` - удалить список

In [ ]:
my_list = [1, 2, 3, 4]

my_list_new = [3, 4, 5, 10]

i = 5

my_list.append(my_list_new)
print(my_list)

my_list.extend(my_list_new)
print(my_list)

my_list.insert(i, my_list_new)
print(my_list)

my_list.remove(my_list_new)
print(my_list)

my_list.pop(i)
print(my_list)

my_list.reverse()
print(my_list)

my_list.clear()
print(my_list)

[1, 2, 3, 4, [3, 4, 5, 10]]
[1, 2, 3, 4, [3, 4, 5, 10], 3, 4, 5, 10]
[1, 2, 3, 4, [3, 4, 5, 10], [3, 4, 5, 10], 3, 4, 5, 10]
[1, 2, 3, 4, [3, 4, 5, 10], 3, 4, 5, 10]
[1, 2, 3, 4, [3, 4, 5, 10], 4, 5, 10]
[10, 5, 4, [3, 4, 5, 10], 4, 3, 2, 1]
[]

## Доступ к элементам списка.

Доступ к элементам списка осуществляется с помощью порядкого номера, который указывается в квадратных скобках после переменной списка. 
Доступ по индексу `list[10]`. Можно вывести сразу выборку от i до j элемента `list[i:j]`. Стоит отметить, что элемент с номером j не входит в срез. Нумерация производится с нулевого номера элемента. В языке Python доступны отрицательные номера индексов, это означает обратную индексацию или другими словами отсчет с конца списка.

In [ ]:
new_list_4 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(new_list_4[0])
print(new_list_4[-1])
print(new_list_4[2:3])
print(new_list_4[2:7])
print(new_list_4[0:-1:2])
print(new_list_4[0:-1:3])

1
10
[3]
[3, 4, 5, 6, 7]
[1, 3, 5, 7, 9]
[1, 4, 7]

Элементы списка можно изменять обращаясь к ним по индесам и используя оператор присваивания.

In [ ]:
new_list_4 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(new_list_4)
new_list_4[0] = 'I am new here'
print(new_list_4)
new_list_4[-1] = 'I am new here'
print(new_list_4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['I am new here', 2, 3, 4, 5, 6, 7, 8, 9, 10]
['I am new here', 2, 3, 4, 5, 6, 7, 8, 9, 'I am new here']

Операции над списками

In [ ]:
list_1 = [1, 2, 3]
list_2 = [3, 4, 5]
k = 2
print(list_1 * k)
print(k*list_1)
print(list_1 + list_2)

#print(list_1 * list_2) error

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 3, 4, 5]

TypeError: ignored

Кортежи (tuple) в Python – это те же списки за одним исключением. Кортежи неизменяемые структуры данных. Так же как списки они могут состоять из элементов разных типов, перечисленных через запятую. Кортежи заключаются в круглые, а не квадратные скобки. Также можно их инициализировать с помощью функции tuple()

In [ ]:
my_tuple = ()
print('Это мой пустой кортедж ', my_tuple, "тип корджа обозначается так", type(my_tuple))

my_tuple_new = ('hello world', 1, 3, 4, [123])
print('Это мой пустой кортедж ', my_tuple_new, "тип корджа обозначается так", type(my_tuple_new))

Это мой пустой кортедж  () тип корджа обозначается так <class 'tuple'>
Это мой пустой кортедж  ('hello world', 1, 3, 4, [123]) тип корджа обозначается так <class 'tuple'>

Можно извлекать элементы из кортежа и брать срезы как со списками

In [ ]:
print(my_tuple_new[2])
print(my_tuple_new[2:5])

3
(3, 4, [123])

Но мы не можем заменять элементы в кортеже

In [ ]:
my_tuple_new[2] = 3

#Тип переменной словарь

Тип переменной словарь часто используется в программах Python. Python словарь - это упорядоченый набор данных доступ к которым производится с помощью ключа. Словарь является подобием списко, только доступ к ним осуществляется не по индексу,а по произвольному ключу. Ключем может быть любой неизменяемый тип данных Python. Значит кортеж может быть ключем, а списки нет.

In [ ]:
my_empty_dictionary = {}
my_dictionary_1 = {'myName': 'Ivan', 'myLastName': 'Smolianov'}

print(my_dictionary_1)

my_dictionary_2 = dict(myName='Ivan', myLastName='Smolianov')
print(my_dictionary_2)
my_dictionary_3 = dict.fromkeys(['myName', 'myLastName'], 'Ivan Smolianov')
print(my_dictionary_3)

{'myName': 'Ivan', 'myLastName': 'Smolianov'}
{'myName': 'Ivan', 'myLastName': 'Smolianov'}
{'myName': 'Ivan Smolianov', 'myLastName': 'Ivan Smolianov'}

Вывод значений словаря

In [ ]:
new_dict = {'numbers': [1,2,3,4],
            'characters': ['a', 'b', 'c'],
            'float_values': [25.3, 34.6, 37.2]}

print(new_dict['numbers'])
print(new_dict['characters'])
print(new_dict['float_values'])

[1, 2, 3, 4]
['a', 'b', 'c']
[25.3, 34.6, 37.2]

Можно заменить значение словаря обращаясь к нему по ключу и используя знак присваивание.

In [ ]:
new_dict['numbers'] = 'new numbers'
new_dict['characters'] = 'here change something'
print(new_dict)

{'numbers': 'new numbers', 'characters': 'here change something', 'float_values': [25.3, 34.6, 37.2]}

#Основные функции работы со словарем 

`dict.values()` - выводит значения в словаре

`dict.keys()` - выводит список всех ключей словаря

`dict.items` - возвращает пару ключ и значение

`dict.pop(key)` - удаляет ключ и возращает значение. 

`dict.get(key)` - возвращает значение по ключу, если нет такого ключа возвращает тип `None`.

In [ ]:
our_new_dict = {'students': ['Vasya, Petya', 'Sasha'],
                'Marks': [3, 4, 5],
                1: ['test1, test2, test3'],
                (1,2,3): 'test tuple'}
print('It is our values of dictionary', our_new_dict.values())
print('It is our keys of dictionary', our_new_dict.keys())
print('It is ourvalues of dictionary', our_new_dict.values())